<section class="ishistoryblock">
	<div class="story-image">
		<div class="img-container">
			<a href="#">
				<img src="{{ bgimage }}" alt="story-img" />
			</a>
		</div>
	</div>
	<div class="text-wrapper">
		{{ html }}
	</div>
</section>

